# Built application files
build/
app/build/
*.apk
*.apkm
*.aar

# Gradle files
.gradle/
buildOutput/

# Local configuration file (sdk path, etc)
local.properties

# Proguard / R8 mapping files
app/proguard/
mapping.txt

# Android Studio / IntelliJ IDEA
.idea/
*.iml
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Log files
*.log

# Android Studio profiler & captures
captures/
.externalNativeBuild/
